body {
  margin: 0px;
  background-color: black;
} .myName {
  background-color: blue;
  text-align: center;
} .nameText {
  color: red;
  font-family: Arial;
} .aboutMe {
  background-color: green;
  text-align: center;
} .aboutMeText {
  color: green;
  text-align: left;
} .goals {
  text-align: center;
  color: green;
}
