body {
  background-image: url(download.png);
} .thing {
  position: absolute;
  background-color: red;
  left: 150px;
  top: 20px;
} .items {
  position: fixed;
  background-color: red;
} .itemsLink {
  position: fixed;
} .items2 {
  position: absolute;
  background-color: red;
} .caveEnter {
  position: absolute;
  background-color: black;
  left: 500px;
  top: 170px;
} .shop {
  position: absolute;
  background-color: #00006480;
  border: 5px solid;
  left: 250px;
  top: 300px;
} .lilMenu {
  position: fixed;
  background-color: red;
  size: 10px;
} .buzz {
  position: absolute;
  background-color: #00006480;
  border: 5px solid;
  left: 760px;
  top: 235px;
} .house1 {
  position: absolute;
  background-color: #00006480;
  border: 5px solid;
  left: 500px;
  top: 400px;
} .house2 {
  position: absolute;
  background-color: #00006480;
  left: 232px;
  top: 422px;
} .tallDiv {
  height: 40000px;
  width: 40000px;
} .caveMark {
  position: absolute;
  left: 5000px;
  top: 20px;
  background-color: #00006480;
  border: 5px solid;
} .houseMark {
  position: absolute;
  left: 7000px;
  top: 7000px;
  width: 500px;
  background-color: #43ff41c2;
  border: 5px solid;
}